<!DOCTYPE html>
<html lang="ko">
<head>
    <title>RMRT - Sign up</title>

    <!-- Meta Tags -->
    <th:block th:replace="~{fragments/meta-tags :: default-meta}"></th:block>

    <!-- Styles -->
    <th:block th:replace="~{fragments/head :: styles}"></th:block>

    <!-- Core Scripts -->
    <th:block th:replace="~{fragments/head :: core-scripts}"></th:block>
</head>

<body>

<!-- Header START -->
<header th:replace="~{fragments/header :: header}"></header>
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- Container START -->
    <div class="container">
        <div class="row justify-content-center align-items-center vh-100 py-5">
            <!-- Main content START -->
            <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
                <!-- Sign in START -->
                <div class="card card-body text-center p-4 p-sm-5">
                    <!-- Title -->
                    <h1 class="mb-2">로그인</h1>
                    <p class="mb-0">계정이 없으신가요?<a href="/signup"> 회원가입</a></p>
                    <!-- Form START -->
                    <form class="mt-sm-4" method="post" th:action="@{/signin}" th:object="${signinForm}">
                        <!-- Error Message -->
                        <div class="alert alert-danger" role="alert" th:if="${error}">
                            <span th:text="${error}"></span>
                        </div>

                        <!-- Email -->
                        <div class="mb-3 input-group-lg">
                            <label class="form-label visually-hidden" for="email">이메일 주소</label>
                            <input autocomplete="email"
                                   class="form-control"
                                   id="email"
                                   placeholder="이메일 주소"
                                   required
                                   th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
                                   th:field="*{email}"
                                   type="email">
                            <div class="invalid-feedback"
                                 th:errors="*{email}"
                                 th:if="${#fields.hasErrors('email')}"></div>
                        </div>

                        <!-- Password -->
                        <div class="mb-3 position-relative">
                            <div class="input-group input-group-lg">
                                <label class="form-label visually-hidden" for="psw-input">비밀번호</label>
                                <input autocomplete="current-password"
                                       class="form-control fakepassword"
                                       id="psw-input"
                                       placeholder="비밀번호"
                                       required
                                       th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''"
                                       th:field="*{password}"
                                       type="password">
                                <span class="input-group-text p-0">
                                    <i class="fakepasswordicon fa-solid fa-eye-slash cursor-pointer p-2 w-40px"></i>
                                </span>
                            </div>
                            <div class="invalid-feedback d-block"
                                 th:errors="*{password}"
                                 th:if="${#fields.hasErrors('password')}"></div>
                        </div>

                        <!-- Remember me -->
                        <div class="mb-3 d-sm-flex justify-content-between">
                            <div>
                                <input class="form-check-input" id="rememberCheck" type="checkbox">
                                <label class="form-check-label" for="rememberCheck">로그인 상태 유지</label>
                            </div>
                            <a href="/members/password-forgot">비밀번호 찾기</a>
                        </div>

                        <!-- Button -->
                        <div class="d-grid">
                            <button class="btn btn-lg btn-primary" type="submit">로그인</button>
                        </div>
                    </form>
                    <!-- Form END -->
                </div>
                <!-- Sign in START -->
            </div>
        </div> <!-- Row END -->
    </div>
    <!-- Container END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Footer START -->
<footer th:replace="~{fragments/footer :: footer}"></footer>
<!-- Footer END -->

<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Scripts -->
<th:block th:replace="~{fragments/scripts :: scripts}"></th:block>
</body>
</html>
