<th:block th:fragment="memberProfile">
    <div class="text-center">
        <div class="avatar avatar-story me-2 m-2">
            <img alt="member profile"
                 class="avatar-img rounded-circle"
                 th:if="${member.detail.imageId != null}"
                 th:src="@{'/api/images/' + ${member.detail.imageId}}">
        </div>
        <!-- Info -->
        <h5 class="mb-0" th:text="${member.nickname.value}">
            회원 닉네임
        </h5>
        <p class="mt-3"
           th:text="${member.detail.introduction != null ? member.detail.introduction.value : '회원 소개글이 없습니다.'}">
            회원 소개글
        </p>

        <!-- User stat START -->
        <div class="hstack gap-2 gap-xl-3 justify-content-center">
            <!-- User stat item -->
            <div>
                <h6 class="mb-0" th:text="${member.postCount}">
                    0</h6>
                <small>Post</small>
            </div>
            <!-- Divider -->
            <div class="vr"></div>
            <!-- User stat item -->
            <div>
                <h6 class="mb-0"
                    th:text="${member.followersCount}">
                    0</h6>
                <small>Followers</small>
            </div>
            <!-- Divider -->
            <div class="vr"></div>
            <!-- User stat item -->
            <div>
                <h6 class="mb-0"
                    th:text="${member.followingsCount}">
                    0</h6>
                <small>Following</small>
            </div>
        </div>
        <!-- User stat END -->
    </div>

    <!-- Divider -->
    <hr>

    <!-- Side Nav START -->
    <ul class="nav nav-link-secondary flex-column fw-bold gap-2">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/members/{id}(id=${member.id})}">
                <img alt="Posts"
                     class="me-2 h-20px fa-fw"
                     src="/assets/images/icon/home-outline-filled.svg">
                <span>My Posts </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"
               th:href="@{/members/connections}">
                <img alt="Connections"
                     class="me-2 h-20px fa-fw"
                     src="/assets/images/icon/person-outline-filled.svg">
                <span>Connections </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"
               th:href="@{/notifications}">
                <img alt="Notifications"
                     class="me-2 h-20px fa-fw"
                     src="/assets/images/icon/notification-outlined-filled.svg">
                <span>Notifications </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/members/setting}">
                <img alt="Settings"
                     class="me-2 h-20px fa-fw"
                     src="/assets/images/icon/cog-outline-filled.svg">
                <span>Settings </span>
            </a>
        </li>
    </ul>
    <!-- Side Nav END -->
</th:block>

